.blend_wrapper {
  background-color: #f9f9f7;
  width: 680px;
  height: 1000px;
  box-shadow: 
    0 0 10px rgba(0, 0, 0, 0.1),
    0 5px 20px rgba(0, 0, 0, 0.2),
    inset 0 0 30px rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  background-image: url('/paper-texture_v2.png');
  background-size: cover;
  background-position: center;
}
.blend_container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 680px;
  height: 1000px;
  overflow: hidden;
}
.letter {
  position: absolute;
  font-size: 900px;
  font-weight: bold;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  will-change: transform, opacity;
  filter: blur(1px); /* Лёгкое размытие для смягчения границ */
}

.s1 {
  color: rgba(0, 255, 51, 0.8); /* Оранжевый */
  left: 0px;
  top: 0;
  mix-blend-mode: multiply; /* Затемнение */
}

.s2 {
  color: rgba(255, 183, 0, 0.8); /* Жёлтый */
  left: 150px;
  top: 0;
  mix-blend-mode: screen; /* Осветление */
}

.s3 {
  color: rgba(0, 255, 221, 0.8); /* Голубой */
  left: -150px;
  top: 0;
  mix-blend-mode: overlay; /* Комбинация multiply и screen */
}

.paper_mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('/paper-texture_v2.png');
  background-size: cover;
  background-position: center;
  opacity: 0.2;
  pointer-events: none;
  mix-blend-mode: overlay;
}